<a href="/en/" hreflang="en">EN</a>/<a href="/de/" hreflang="de">DE</a>

<div class="pro-component-container pro-select-container">
    <app-pro-select [id]="'SI'" i18n-cbTag cbTag="Sensorkanalwahl" [selectIcon]="faProjectDiagram" [selectItems]="[1, 2, 3, 4, 5, 6]" [selection]="0" [defaultSelection]="0"></app-pro-select>
    <app-pro-select [id]="'M019'" i18n-cbTag cbTag="Sensormode" [selectIcon]="faChartLine" [selectItems]="itemLablesM019" [flags]="262144" [flagMask]="[0, 262144]"></app-pro-select>
    <app-pro-select [id]="'MO230'" i18n-cbTag cbTag="Externer Dämmerungsschalter" [selectIcon]="faUnlock" [selectLabel]="itemLabel1" [flags]="2" [flagMask]="[0, 2, 6]" [selectItems]="itemLablesMO230"></app-pro-select>
</div>

<div class="pro-component-container pro-slider-container">
    <app-pro-slider [id]="'SP0'" [sliderVisable]="false" i18n-cbTag cbTag="Tageslichtregelung" [sliderIcon]="faBullseye" i18n-sliderLabel sliderLabel="Sollwert" [symbol]="'Lux'" [defaultVal]="0" [calcType]="calcType.NoCalc" [(value)]="value" [min]="0" [max]="20000"></app-pro-slider>
    <app-pro-slider [sliderDisabled]="true" [id]="'MO60'" i18n-cbTag [cbTag]="'LBM Kanal 1'" [calcType]="calcType.Linear" [sliderIcon]="faSpinner" i18n-sliderLabel sliderLabel="Potentiometer" [value]="0" [cbValue]="false"></app-pro-slider>
    <app-pro-select [id]="'MO130'" i18n-cbTag cbTag="Ausschaltverhalten" [selectIcon]="faArrowAltCircleDown" [flags]="4096" [flagMask]="[0, 4096]" [selectItems]="itemLablesMO130"></app-pro-select>
</div>

<div class="pro-component-container pro-dimm-container">
    <app-pro-dimm-slider [channel]="0" [dimmValue]="0"></app-pro-dimm-slider>
    <app-pro-dimm-slider [channel]="1" [dimmValue]="255"></app-pro-dimm-slider>
    <app-pro-dimm-slider [channel]="2" [dimmValue]="50"></app-pro-dimm-slider>
    <app-pro-dimm-slider [channel]="3" [dimmValue]="150"></app-pro-dimm-slider>
    <app-pro-dimm-slider [channel]="4" [dimmValue]="89"></app-pro-dimm-slider>
    <app-pro-dimm-slider [channel]="5" [dimmValue]="11"></app-pro-dimm-slider>
</div>